<!-- behaviors-show.handlebars -->

<!DOCTYPE html>
<a href="/">Back to Home</a>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{behavior.impact}} Behavior: {{behavior.name}}</h1>
        <p>{{behavior.description}}</p>
    </div>
</div>
