<!-- behavior.new.handlebars -->

<!DOCTYPE html>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <legend>New Behavior (Good or Bad)</legend>
        <form method="POST" action="/behaviors" >
            {{> behaviors-form }}
        </form>
    </div>
</div>
