<!-- home.handlebars -->
<h1>{{msg}}</h1>
<input type="text">
<input type="datetime-local">
<button class="add">Add</button>

<form action="">
    <div class="checklist">

    </div>
</form>

<p>Good Behaviors</p>
<textarea class="form-control" name="good" placeholder="Good Behaviors" rows="5" /></textarea>
<p>Bad Behaviors</p>
<textarea class="form-control" name="bad" placeholder="Bad Behaviors" rows="5" /></textarea>
