<!-- tasks-new.handlebars -->

<!DOCTYPE html>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <legend>New Task</legend>
        <form method='POST' action='/tasks'>
            {{> tasks-form }}
        </form>
    </div>
</div>
