<!-- tasks-show.handlebars -->

<a href="/">Back to Home</a>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Task Name: {{task.name}}</h1>
        <p>Task Due Date: {{task.dueAt}}</p>
        <strong><p>Task Notes:</p></strong>
        <p>{{task.description}}</p>
    </div>
</div>
